name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - cart-service
          - product-service
          - user-service
          - order-service
          - notification-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ${{ matrix.service }}
        run: npm install

      - name: Run ESLint
        working-directory: ${{ matrix.service }}
        run: npm run lint

      - name: Security audit
        working-directory: ${{ matrix.service }}
        run: npm audit --audit-level=high


      - name: Run Tests
        working-directory: ${{ matrix.service }}
        run: npm test
      
      - name: Build Docker image
        working-directory: ${{ matrix.service }}
        run: docker build -t ${{ matrix.service }}:latest .
